/mnt/c/users/Admin/workspace/siwes_at_nitda/python_advanced/projects/expense_tracker/myenv

/mnt/c/users/Admin/workspace/siwes_at_nitda/python_advanced/projects/expense_tracker/__pycache__

test.py

test_tkinter.py
